<!doctype html>
<html>
  <head>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<h1> {{.Title}} </h1>
	{{range .Sections}}
	{{if .Commits}}
	  <div class="section">
		<h2>{{.Name}}</h2>
		{{range .Commits}}
  	    <div class="commit">
		  <div class="commitmessage">
			{{.Metadata.Message}}
		  </div>
		  <div class="commiturl">
			<a href="{{.Metadata.Url}}">{{.Metadata.Url}}</a>
		  </div>
		  <div class="diff">
			<pre>
			  {{.Diff}}
			</pre>
		  </div>
		</div>
		{{end}}
	  </div>
	  {{end}}
	  {{end}}
  </body>
</html>
